{% extends 'base.html' %}
{% block content %}

<div class="col-md-4 offset-md-4 mt-5">
<h1 class='text-center'>Login</h1>
<br/>
<form method="POST", action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary col-md-4 offset-md-4 ">Login</button>
</form>
<br><br>
<span class='d-flex justify-content-center align-items-center'>Ainda não possui cadastro?&nbsp;<a href="{% url 'register' %}" class='author-name' style='color: #0d6efd;'>Registrar-se</a></span>
</div>
{% endblock %}